body {
  background-color: #2d3436;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("images/graphics/car.jpg");
  background-blend-mode: exclusion;
  color: black;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  display: inline;
  justify-content: center;
  font-size: 48px;
  text-shadow: 0 0 10px red;
  text-decoration-line: underline;
  text-decoration-style:
}

header {
  text-align: center;
  display: grid;
  grid-template-areas:
    "phone email address";
  background-color: black;
  padding: 5px;
  font-size: 16px;
  color: white;
}
.header-buttons {
  transition: .2s;
  outline: none;
  border: 1px solid black;
}
.header-buttons:hover {
  border: 1px solid red;
  border-radius: 5px;
  cursor: copy;
}
.header-buttons:active {
  transition: .05s;
  border: 1px solid green;
}
#phone {
  grid-area: "phone"
}
#email {
  grid-area: "email";
}
#address {
  grid-area: "address"
}
/*#address:hover {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}*/
#title {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hornsimg {
  display: inline;
}
#oembanner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
#oembanner img {
  margin-left: 2px;
  margin-right: 2px;
}
#home {
  grid-area: "home";
}
#work {
  grid-area: "work";
}
#about {
  grid-area: "about";
}
#discounts {
  grid-area: "discounts";
}
#navbar {
  display: grid;
  grid-template-areas: "home work about discount";
}
.nav-buttons {
  border: 3px solid black;
  border-radius: 20px;
  background: none;
  background-color: white;
  color: black;
  padding: 10px 15px 10px 15px;
  transition: .2s;
  margin: 10px 50px 10px 50px;
  font-weight: 900;
  outline: none;
}
.nav-buttons:hover {
  border: 3px solid #d63031;
  cursor: pointer;
  padding: 10px 30px 10px 30px;
}
.nav-buttons:active {
  transition: .05s;
  border: 3px solid green;
}
.border {
  margin: 10px 0 10px 0;
  border: 1px solid white;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-bottom: 5px solid black;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*#body-img {
  border: 1px solid red;
  height: 800px;
  width: 100%;
  max-width: 100%;
  background-image: url('images/graphics/car.jpg');
  background-size: cover;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  border: 1px solid yellow;
}*/
